<div class="container">
    <div class="card mb-3">
      <h5 class="cart-heading">My cart(1)</h5>
      <div class="row g-0" >
        <div class="col-md-4" >
          <img src="../../assets/images/book5.jpg" class="img-fluid rounded-start" alt="Loading...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">DeadPool</h5>
            <p class="card-text">by Tim Miller</p>
            <p class="card-text">RS.34</p>
            <div class="quantity-change">
              <button type="button" class="btn  quantity-button" >-</button>
              <input type="text" name="quantity" class="book-quantity">
              <button type="button" class="btn  quantity-button" >+</button>
              <a class="remove" >Remove</a>
            </div>
           </div>
          </div>
        </div>
      <div class="place-order" >
        <button routerLink="/orderSummary" type="button" class="btn placeorder-button" >Place Order</button>
      </div>  
    </div>
    <router-outlet></router-outlet>
